/* .container {
  text-align: center;
  color: rgb(0, 0, 0);
  background-color: aqua;
  margin: 20px;
  border-style: solid;
  border-color: black;
} */
.container {
  display: flex;
  text-align: center;
  justify-content: center;
  border: solid black 1px;
  display: block;
  width: 10px;
  margin: 10px;
  padding-left: 300px;
  padding-right: 300px;
}
.pictureCard {
  margin: 0;
  width: "150px";
  height: "150px";
}
